name: Build and lint

on:
  - push
  - pull_request:
	branches:
	    - '**'
	    - '!5_hw_c_balance_skobka'
	    - '!5_hw_c_balance_skobka_new'
	    - '!5_hw_c_sort_station'
	    - '! 5_hw_sort_station_new'

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check format
        run: |
          find . -path ./build -prune -o -type f -name '*.[c|h]' -print | xargs clang-format-18 --style=file --dry-run -Werror